# Zig build artifacts
.zig-cache/
zig-out/

# macOS
.DS_Store

# Claude Code
.claude/

# ROMs
test/games/

# Screencaps
caps/

# Coprocessor microcode dumps (copyrighted; fetch snesdsp archive from caitsith2.com/snes/dsp/)
test/dsp/
